[Desktop Entry]
Type=Application
Version=0.1
Name=Alphabet
GenericName=Alphabet
Comment=Alphabet
Icon=icon
Terminal=false
Exec=Alphabet %F
MimeType=text/text;
Categories=Qt;Utility;
